@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  --s: 300px;
  --c1: #f1f1f1;
  --c2: #f7f7f7;
  --c3: #ffffff;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}

.TopStrip {
  background-color: #f9236e;
  height: 6vh;
  width: 100vw;
  background-image: url("./Assets/Layer\ 1.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.content1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  max-width: 80%;
  width: 100%;
  overflow-x: hidden;
}
.InterShip {
  color: white;
  font-weight: 700;
}

.Cross1 {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
}

.Cross1 > a > img {
  height: 12px;
}
.header {
  height: 14vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff7e;
}

.contentHead {
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.Part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #565e61;
  height: 500%;
}
.HelloEmail {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.Email > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.Email > a:hover {
  text-decoration: underline;
}
.Part2 {
  height: 50%;
}

.Hello {
  width: 45%;
}
.Email {
  width: 55%;
}
.ENUSD {
  width: 50%;
}
.enusdd {
  display: flex;
  justify-content: end;
  gap: 3%;
  font-weight: 800;
}
.Logo {
  height: 100%;
  width: 50%;
}
.Part2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Part2 > .Logo {
  display: flex;
  align-items: center;
  font-size: 26px;
}
.Part2 > .Logo > h3 {
  font-weight: 900;
}

.nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow-x: hidden;
}
.NavList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.NavList > li {
  text-decoration: none;
  list-style-type: none;
  font-weight: 700;
}

.svgs {
  height: 20px;
  width: 20px;
  overflow: hidden;
}

.hero {
  height: 115vh;
  width: 110%;
  background-color: #bae9ff;
  background-image: url("./Assets/MainBG.svg");
  background-repeat: no-repeat;
  background-size: 100vmax;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroInner {
  max-width: 80%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.content2 {
  text-align: center;
  padding-top: 10%;
  padding-right: 5%;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.f2022ff {
  text-align: center;
  font-size: 63px;
  font-weight: 800;
  width: 82.5%;
  letter-spacing: 70px;
}
.FASHION {
  font-size: 125px;
  line-height: 92px;
  font-weight: 800;
}
.ButtonDiv {
  width: 82.5%;
  padding: 30px;
}
.ButtonItself {
  outline: none;
  text-decoration: none;
  border-radius: 3%;
  border: none;
  padding-inline: 4%;
  padding-block: 2%;
  background-color: #f9236e;
  color: white;
  font-weight: 800;
  font-size: 110%;
}
.Carnival {
  color: #f9236f;
}
.f2022f {
  width: 82.5%;
  font-weight: 700;
}

.par2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.par2inner {
  max-width: 80%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 125%;
}

.con {
  width: 80%;
  height: 100%;
  background: #ffffff;
  border-radius: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.serviceCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  height: 15%;
}

.imaga {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #fff;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -30%;
}

.card > h3 {
  font-weight: 900;
  font-size: 170%;
}

.card > p {
  font-size: 90%;
}
.flexWithFash {
  height: 35%;
  width: 100%;
  background: transparent;
  padding: 3%;
  display: flex;
  gap: 3%;
}
.fash {
  background-color: wheat;
  height: 100%;
  width: 100%;
  background-image: url("./Assets/Ladki.svg");
  background-size: cover;
}
.fash2 {
  background-color: wheat;
  height: 100%;
  width: 100%;
  background-image: url("./Assets/Ladka.svg");
  background-size: cover;
}
.carni {
  color: rgb(255, 106, 130);
}

.FASHION2 {
  font-size: 58px;
  line-height: 60px;
  padding-top: 5%;
  width: 60%;
  font-weight: 800;
  text-align: center;
}

.FashionCOn {
  width: 57%;
  text-align: start;
  padding-left: 10%;
  font-weight: 700;
}
.ShopNowHehe {
  outline: none;
  background-color: rgb(255, 106, 130);
  border: none;
  font-size: medium;
  padding: 4%;
  border-radius: 4px;
  color: white;
  font-weight: 800;
  transition: 0.3s;
  cursor: pointer;
}

.ShopNowHehe:hover {
  transition: 0.3s;
  background-color: rgb(255, 67, 98);
}

.divforbtn {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.FCards {
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.ContentForFCard > h5,
.ContentForFCard > h6 {
  text-align: center;
}

.ContentForFCard > h5 {
  font-size: 110%;
  font-weight: 800;
}

.ContentForFCard {
  padding-block: 5%;
}

.FlexWithStars {
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Price > :first-child {
  font-weight: bold;
  font-size: 80%;
  color: gray;
  text-decoration: line-through;
}
.Price > :nth-child(2) {
  font-weight: bold;
  font-size: 110%;
}
.part3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Assets/Image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 10rem;
}

.part3Inner {
  height: 100%;
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
.Headingss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}

.Headingss > h3 {
  font-size: 300%;
}
.Headingss > p {
  padding-top: 1%;
  font-weight: 700;
  color: #000000d0;
}
.cardiiis {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block: 4%;
  gap: 5%;
}
.cardi {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.cardiImage > img {
  width: 100%;
  height: 100%;
}
.contentcardi {
  padding: 5%;
}
.Headingsssss {
  font-size: 110%;
  color: #000000ab;
}

.HeadingsssssUnder {
  padding-top: 5px;
  font-size: 80%;
  color: #808080d7;
  font-weight: 600;
}
.p1111 {
  padding-bottom: 4%;
}
.p2222 > p {
  font-size: 80%;
  font-weight: 700;
  color: #0000008a;
  padding-bottom: 10px;
}

.readButton {
  background-color: rgb(255, 67, 98);
  outline: none;
  border: none;
  padding: 3%;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
.readButton:hover {
  background-color: rgb(240, 80, 106);
}

